.git
.github
.idea
.vscode
.zed
.DS_Store

dist
__pycache__
*.pyc
bak
dev
glider
*.test
*.out
*.zip
*.tar
*.tar.gz

*.conf
*.rule
rules.d
config/rules.d/*.rule
config/rules.d/*.list

deploy/**/.env
deploy/**/*.env
**/.env
**/.env.*
cache
certs
